<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content>
    {{data.priority}}
    <form>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. Pizza" value="{{data.title}}">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput value="{{data.description}}"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="data.priority">
                @for (priority of priorities; track $index) {
                    <mat-option [value]="data.priority">{{priority.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Delete</button>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Save</button>
</mat-dialog-actions>