<h2 mat-dialog-title>Create</h2>
<mat-dialog-content>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Address 2</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    
        <mat-form-field>
            <mat-select>
                @for (priority of priorities; track $index) {
                <mat-option>{{priority.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Delete</button>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Save</button>
</mat-dialog-actions>
