<div  cdkDropListGroup>
    <div class="list-container">
        @for (section of sections; track section) {
            <h2>{{section.title}}</h2>
            <div
            class="list"
            cdkDropList
            [cdkDropListData]="section.items"
            (cdkDropListDropped)="drop($event)"
            >
                @for(card of section.items; track $index){
                    <app-item [item]="card" cdkDrag></app-item>
                }
            </div>
        }
    </div>
</div>