.title{
    color: #444444;
}

.header{
    background-color: #444444;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
}   