.new-task-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-right: 10px;
}

.title {
    color: #444444;
}