<div  cdkDropListGroup>
    <div class="list-container">
        @for (section of sections; track section) {
            <h3 class="title">{{section.title}}</h3>
            <div
            cdkDropList
            [cdkDropListData]="section.items"
            class="list"
            (cdkDropListDropped)="drop($event)"
            >
                @for(card of section.items; track $index){
                    <app-item [item]="card" class="item" cdkDrag></app-item>
                }
            </div>
        }
    </div>
</div>