<h2 mat-dialog-title>Edit</h2>

<mat-dialog-content>
    <div>
        <mat-form-field class="item">
            <mat-label>Title</mat-label>
            <input matInput value="{{data.title}}">
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput value="{{data.description}}"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select [(value)]="data.priority">
                @for (priority of priorities; track $index) {
                <mat-option [value]="data.priority">{{priority.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-button mat-dialog-close>Delete</button>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close >Save</button>
</mat-dialog-actions>